* {
    padding: 0;
    margin: 0;
    border: 0;
    /* background-color:darkturquoise; */
    font-family: sans-serif;
}

#header {
    background-color: cyan;
    color:darkblue;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 50px;
}



.grid-container {
    display: grid;
    /* grid-template-columns: auto auto; */
    grid-template-columns: repeat(2, 50%); /* grid-template-columns: 50% 50%; */
    gap: 2px;
    background-color: #2196f3;
}

.grid-container > div {
    background-color: #006778;
    color: bisque;
    font-size: 30px;
    text-align: center;
}

.sumit {
    width: 265px;
}

/* div .item1{
    margin: 25px 0;
} */

div .item2{
    background-color: #006778;
    padding: 25px 0;
}

#description{
    background-color: black;
    color: white;
    padding: 25px 0;
    font-size: 30px;
}

#footer{
    background-color: cyan;
    padding: 35px 0 10px 0;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
