* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: sans-serif;
}

#header {
    background-color: cyan;
    color: darkblue;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 50px;
}

.grid-container {
    display: grid;
    /* grid-template-columns: auto auto; */
    grid-template-columns: repeat(2,49.9%); /* grid-template-columns: 50% 50%; */
    column-gap: 0.2%;
    background-color: #2196f3;
}

.grid-container > div {
    background-color: #006778;
    color: bisque;
    font-size: 30px;
    text-align: center;
}

.secRow {
    border-top: solid #2196f3;
}

/* div .item1{
    margin: 25px 0;
} */

div .item2 {
    background-color: #006778;
    padding: 25px 0;
}

#description {
    background-color: black;
    color: white;
    padding: 25px 0;
    font-size: 15px;
}

.sumit {
    width: 17rem;
}

@media screen and (max-width: 800px) {
    .sumit {
        width: 100%;
    }
}

/* .result{
    width: 350px;
    height: 300px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: scroll;
} */

#footer {
    background-color: cyan;
    padding: 35px 0 10px 0;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
